<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528665354156-ecglkkgdgahoegcllgsmatomb64urg15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528665354156-ecglkkgdgahoegcllgsmatomb64urg15</string>
	<key>API_KEY</key>
	<string>AIzaSyBqjgKdPlsfM2A5kRTAVIPu1a_SEhgNGlE</string>
	<key>GCM_SENDER_ID</key>
	<string>528665354156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.vsantoryu.HelpIosMac</string>
	<key>PROJECT_ID</key>
	<string>servicemacios-6c536</string>
	<key>STORAGE_BUCKET</key>
	<string>servicemacios-6c536.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:528665354156:ios:d7998f1ca057720f32e409</string>
	<key>DATABASE_URL</key>
	<string>https://servicemacios-6c536.firebaseio.com</string>
</dict>
</plist>
